@import helper._

@import forms.PostForm
@(postForm: Form[PostForm])(implicit messagesProvider: MessagesProvider, request: RequestHeader)

@main("BBS", "username"){
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2>Create new post</h2>

        <div class="post-style">
        @helper.form(action = routes.PostController.createPost()){

            @if(postForm.hasGlobalErrors) {
                <ul>
                @for(error <- postForm.globalErrors) {
                    <li>@error.messages</li>
                }
                </ul>
            }

            @CSRF.formField
            @helper.inputText(postForm("title"),
                'placeholder -> "Your title",
                '_label -> "Title",
                'required -> "required",
                'class -> "title-field",
                'minlength -> 8,
                'maxlength -> 100,
                '_help -> "")

            @CSRF.formField
            @helper.textarea(postForm("content"), '_label -> "Content",
                '_showConstraints -> false,
                'placeholder -> "Your Content",
                'required -> "required",
                'class -> "content-field",
                'minlength -> 200,
                'maxlength -> 1000,
                '_help -> ""
            )

            <div>
                <button class="button-style">Create New Post</button>
            </div>
        }
        </div>

    </div>
}