@import helper._
@import forms.PostForm
@(postForm: Form[PostForm])(implicit messagesProvider: MessagesProvider, request: RequestHeader,
        flash: Flash, session: Session)

<div>
    <div class="create-post-title">What News ! You can create Post now !</div>
    @if(flash.get("status").isDefined){
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Created a post successfully</p>
            </div>
        </div>
    }

    @helper.form(action = routes.PostController.createPost()){
        @CSRF.formField
        @helper.inputText(postForm("title"),
            'placeholder -> "Your title",
            '_label -> "",
            'required -> "required",
            'class -> "title-field",
            'info -> "",
            'id -> "inputTitle",
            'minLength -> 8,
            'maxLength -> 100
        )

        @helper.textarea(postForm("content"), '_label -> "",
            '_showConstraints -> false,
            'placeholder -> "Your Content",
            'required -> "required",
            'class -> "content-field",
            'minLength -> 200,
            'maxLength -> 1000
        )

        <div>
            <button class="button-style" id="btnPost">Create New Post</button>
        </div>
    }
</div>