@import dtos.PostDTO
@import forms.PostForm
@import helper._
@(listPost: List[PostDTO], postForm: Form[PostForm], message: String)(implicit messagesProvider: MessagesProvider,
        request: RequestHeader, flash: Flash)

@main("Blog Septeni-Technology", "username") {
  @views.html.createPost(postForm)
  <div class="body-post">
    <span class="all-post"><b>All posts</b></span>
    <div class="post-contaner">
      <div class="nodata"><b>@message </b></div>
      @for(post <- listPost){
        @views.html.previewPost(post)
      }
    </div>
  </div>

  <div class="footer"><i>Copyright © 2017 SEPTENI TECHNOLOGY Developer's Blog All rights reserved.</i></div>
}
