.title{
    margin-left: 35%
}

body{
    margin-top: 36px;
    width: 75%;
    margin: auto;
    font-family: Arial;
}

.list-post{
    border-bottom: 1px solid red;
    margin-bottom: 25px;
}

.title-post{
    font-size: 40px;
    color: #242aff;
}

.email-creater{
    float: right;
    margin-top: 27px;
    margin-right: 26px;
    color: #ff3c79;
}

.set-data{
    margin: auto;
    font-size: 50px;
    color: red;
}

.nodata{
    margin: auto;
    font-family: Arial;
    color: red;
}

.post-style{
    margin: auto;
    width:80%;
}

.title-field{
    height: 26px;
    width: 100%;
}

.content-field{
    width: 100%;
    padding-bottom: 20%;
}

.button-style{
    width: 228px;
    float: right;
    height: 41px;
}