.title{
    margin-left: 500px;
    font-size: 48px;
}

.container-body{
    margin-top: 36px;
    width: 75%;
    margin: auto;
    font-family: Arial;
}

.list-post{
    border-bottom: 1px solid red;
    margin-bottom: 25px;
}

.title-post{
    font-size: 40px;
    color: #242aff;
}

.email-creater{
    float: right;
    margin-top: 27px;
    margin-right: 26px;
    color: #ff3c79;
}

.set-data{
    margin: auto;
    font-size: 50px;
    color: red;
}

.nodata{
    margin: auto;
    font-family: Arial;
    color: red;
}

.post-style{
    margin: auto;
    width:80%;
}

.title-field{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -35px;
    background-color: #fff7ec;
}

.content-field{
    margin-top: -8px;
    width: 100%;
    padding-bottom: 100px;
}

/*.content-field:focus{*/
    /*padding-bottom: 100px;*/
/*}*/

/*.content-field:visited{*/
    /*padding-bottom: 100px;*/
/*}*/

/*.content-field:active{*/
    /*padding-bottom: 100px;*/
/*}*/

.button-style{
    float: right;
    margin-top: -15px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    height: 34px;
}

.button-style:hover{
    background-color: aquamarine;
}

.error-message{
    margin: auto;
    color: red;
    width: 80%;
    font-size: 50px;
    margin-top: 15%;
}

/* hidden error */
dd:nth-child(3) {
    display: none;
}

dd:nth-child(4) {
    display: none;
}

.info{
    display: none;
}

.parent-container{
    margin-top: 70px;
}

#register-title{
    width: 210px;
    margin: auto;
    font-size: 25px;
    color: darkblue;
    margin-bottom: 16px;
}

.register-input{
    width: 432px;
}

.button-register{
    width: 92px;
    height: 27px;
    float: right;
    margin-right: 38px;
}

.account-message{
    margin-left: 109px;
    color: red;
}

/* Login Form  */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*.form input {*/
    /*font-family: "Roboto", sans-serif;*/
    /*outline: 0;*/
    /*background: #f2f2f2;*/
    /*width: 100%;*/
    /*border: 0;*/
    /*margin: 0 0 15px;*/
    /*padding: 15px;*/
    /*box-sizing: border-box;*/
    /*font-size: 14px;*/
/*}*/
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

body{
    width: 100%;
    background: #fffef6;
}

.container-body {
    background: #fffef6; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -moz-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -o-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: linear-gradient(to left, #76b852, #8DC26F);*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-input{
    width: 268px;
    margin-left: -43px;
}

.login-message{
    color: red;
}

.footer{
    margin-top: 70px;
}

.all-post{
    font-size: 30px;
}

.post-contaner{
    margin-left: 11px;
    margin-top: 12px;
}

.btn-new-post{
    height: 30px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    height: 37px;
    float: right;
}

.btn-logout{
    margin-left: 93%;
    margin-bottom: 1%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 87px;
    height: 37px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;

}

.btn-logout:hover {
    background-color: #008CBA;
    color: white;
}

.create-post-title{
    color: blueviolet;
    font-size: 21px;
    margin-left: 40px;
}


.body-post{
    margin-left: 33px;
    margin-top: 33px;
}

.btn-demo{
    width: 100px;
    float: right;
}

textarea{
    background-color: #fff7ec;
}

.container-logout .authen-container{
    width: 100%;
}

.before-authen{
    margin-left: 88%;
}

.before-logout{
    padding-right: 94%;
}

.link-logout{
    display: initial;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}

/* ============================================================== */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 28%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

